name: Test pipeline

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - master
  workflow_dispatch: {}

jobs:
  Build:
    name: Build & test
    runs-on: self-hosted
    container:
      image: eclipse-temurin:25-jdk
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          build-scan-publish: true
          build-scan-terms-of-use-url: "https://gradle.com/terms-of-service"
          build-scan-terms-of-use-agree: "yes"

      - name: Gradle Build and Test
        run: ./gradlew clean build
        env:
          ARTIFACTORY_TOKEN: ${{ secrets.ARTIFACTORY_TOKEN }}

      - name: Upload test reports
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: test-reports
          path: build/reports/tests
